
.topTen {
    width: 100%;
    /* height: 100vh; */
    padding: 4rem 3rem;
    /* background-color: green; */
    box-sizing: border-box;
    
}
h2 {
    margin: 0 0 2rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin: 0 0 2rem;
}