.top-movie {
    position: absolute;
    width: 100%;
    height: inherit;
    color: var(--primary-font-color);
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: top;
    transition: all 500ms;
}
/* movie details / descriptions */
.details {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    margin: 0 2rem;
    width: 30%;

}
h1 {
    font-size: 2.1rem;
    letter-spacing: 1.2px;
    word-spacing: -2px;
}
p {
    font-weight: normal;
    word-spacing: 1.4px;
}

button {
    background-color: rgba(242, 20, 212, 0.828);
    border-radius: 40px;
    border: none;
    padding: .4rem 2rem;
    color: var(--primary-font-color);
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
}